<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET</title>
</head>
<body>

    <form action="/books">
        <input type="submit" value="GET all books" />
    </form> <br>

    <form action="/ui/get/id">
        <input type="submit" value="GET book by id" />
    </form> <br>

    <form action="/ui/get/last">
        <input type="submit" value="GET last n books" />
    </form> <br>

</body>
</html>